.router-link-active {
  color: skyblue;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: red;
  }
}

.demo-container {
  display: flex;

  .side-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 200px;
    height: 100vh;
    border-right: 1px solid lightgray;
    a {
      padding: 5px;
      text-decoration: none;
      width: 100%;
    }
  }

  .content {
    flex: 1;
    padding: 10px 20px;
  }
}
