<div>
  <h4>Date Range Picker</h4>

  <mat-form-field appearance="outline" style="display: block;">
    <mat-label>
      Select Date
    </mat-label>
    <input
      type="text"
      xMatDatePicker
      matInput
      [(ngModel)]="selected"
      class="form-control"
      placeholder="Choose date"
      [showDropdown]="true"
      [lockStartDate]="false"
      [customRangeDirection]="false"
      (ngModelChange)="ngModelChange($event)"
      (change)="change($event)"
      showCancel="true"
      [showClearButton]="true"
      [isRangePicker]="true"
      [ranges]="true"
      [locale]="local"
      [timePicker]="true"
      [timePickerSeconds]="true"
      [timePickerIncrement]="15"
      [timePicker24Hour]="true"
      positionX="right"
    />
  </mat-form-field>
</div>

<div>
  <h4>Open date picker from out of input</h4>

  <button mat-raised-button color="primary" class="x-mat-date-picker-action" (click)="open($event)">
    open from a button
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="selected && selected.startDate"
    class="x-mat-date-picker-action"
    (click)="clear($event)"
  >
    Clear
  </button>
</div>

<div>
  <h4>Date Picker</h4>

  <mat-form-field appearance="outline" style="display: block;">
    <mat-label>
      Select Date
    </mat-label>
    <input
      type="text"
      xMatDatePicker
      matInput
      [(ngModel)]="singleSelected"
      class="form-control"
      placeholder="Choose date"
      [showDropdown]="true"
      [lockStartDate]="false"
      [customRangeDirection]="false"
      (ngModelChange)="ngModelChange($event)"
      (change)="change($event)"
      showCancel="true"
      [locale]="local"
    />
  </mat-form-field>
</div>

<div>
  <h3>Inline date-picker</h3>
  <x-mat-date-picker
    (selectedDate)="selectedDate($event)"
    [isRangePicker]="true"
    [startDate]="selected.startDate"
    [endDate]="selected.endDate"
    [locale]="{ applyLabel: 'Done', firstDay: 1 }"
  ></x-mat-date-picker>
  <br />
  Selected date: {{ inlineDate | json }}
</div>

<div>
  <h3>Inline date-picker with time and auto-apply</h3>
  <x-mat-date-picker
    (selectedDate)="selectedDateTime($event)"
    [autoApply]="true"
    [timePicker24Hour]="true"
    [linkedCalendars]="true"
    [timePicker]="true"
    [locale]="{ applyLabel: 'Done', firstDay: 1 }"
  ></x-mat-date-picker>
  <br />
  <p>Selected date (after changes): {{ inlineDateTime | json }}</p>
</div>
